<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/images">Railsgram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pull-left">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <%= link_to "Subir", new_image_path, class: "nav-link" %>
            </li> -->
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#subirModal">Subir</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto pull-right">
            <li class="nav-item dropdown float-left">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Perfil</a>
                    <a class="dropdown-item" href="#">Actualizar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Salir</a>
                </div>
            </li>
        </ul>
    </div>
</nav>